@charset "utf-8";
/* CSS Document */
/*** fonts**/
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body{
	background-image: url("https://media.timeout.com/images/103817003/image.jpg");
	background-size: 100% ;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	font-family: 'Zilla Slab', serif;

}
form{
	display: flex;
	justify-content: center;
}
.content
{
	position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0,0.5);
    padding: 82px;
		top: 20%;
}
.login-input{
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	font-family: 'Zilla Slab', serif;

}

#sub
{
	height: 30px;
	width:100px;
	padding: 10px;
	padding-bottom: 22px;
	background-color:#1abc9c;
	margin-top:10px;
	margin-left:40px;
	border: 0;
	color: #fff;
	border-bottom: 6px #16a085 solid;
	font-family: 'Zilla Slab', serif;

}

#img
{
	position: absolute;
    top: -103px;
    left: 205px;
}

a
{
	text-decoration:none;
	color:white;
	margin-left:30px;
	}
#sub:hover{
	border-bottom: 2px #16a085 solid;
	margin-top: 12px;
	margin-bottom: 6px;
}
